@model HomeDetailsViewModel
@*@model  WebApplication1.Models.Employee*@
@*we no use above line because we move the namespace to viewImports File*@


<div>From Strongly Typed Name : @Model.Employee.Name</div>

